@font-face {
  font-family: "Ge Font";
  src: url(fonts/bpg_mrgvlovani_caps_2010.ttf);
}

/* General Styles */
body {
  margin: 0;
  font-family: "Ge Font";
  line-height: 1.6;
  color: #333;
  min-height: 100%;
}
:where(p, span, strong, h1, h2, h3, h4, h5) {
  font-family: "Ge Font";
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  color: #0056b3;
  font-family: "Ge Font";
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #0056b3;
  transition: color 0.3s ease;
}

a:hover {
  color: #003580;
}

button {
  cursor: pointer;
  background-color: #0056b3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #003580;
}

/* Header */
.header {
  background-image: linear-gradient(90deg, rgb(0, 1, 89), rgb(74, 176, 253));
  padding: 10px 0;
  font-family: "Ge Font";
  transition: transform 0.3s ease, background-color 0.3s ease;
  &.scrolled {
    position: fixed;
    top: 0;
    width: 100%;
  }
}

.header .logo {
  width: 100px;
  height: 50px;
  &.desktop {
    @media (max-width: 768px) {
      display: none;
    }
  }
  &.mobile {
    @media (min-width: 768px) {
      display: none;
    }
  }
}
a:has(.logo) {
  height: 50px !important;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  position: relative;
}

.nav-list {
  display: flex;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list li a {
  font-size: 1rem;
  padding: 5px 10px;
  text-decoration: none;
  color: #e0e0e0;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.nav-list li a.active,
.nav-list li a:hover {
  background-color: #00a2ff8c;
  color: white;
  border-radius: 5px;
}

/* Burger Menu Button */
.burger-menu {
  display: none; /* Hidden by default */
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10; /* Ensures visibility above other elements */
  position: relative;
}

.burger-bar {
  display: block;
  height: 4px;
  width: 100%;
  background-color: #333;
  border-radius: 2px;
  transition: background-color 0.3s ease;
}

.container:has(.nav) {
  display: flex;
  gap: 10px;
}

/* Responsive Styles */
@media (max-width: 1100px) {
  .burger-menu {
    display: flex; /* Make burger menu visible on small screens */
    background-color: none;
    background-image: url(assets/header-hamburger-menu.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    filter: saturate(0) brightness(300%);
    &:hover {
      background-color: rgba(128, 128, 128, 0) !important;
      filter: saturate(0) brightness(250%);
      background-image: url(assets/header-hamburger-menu.svg);
    }
  }

  .nav-list {
    display: none; /* Initially hide the navigation */
    flex-direction: column;
    gap: 10px;
    background-image: linear-gradient(90deg, rgb(0, 1, 89), rgb(74, 176, 253));
    position: absolute;
    top: 50px;
    right: 20px;
    width: 200px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  .nav-list.active {
    display: flex; /* Show navigation when active */
  }
  .nav-list li a {
    font-size: 12px;
    color: white;
  }
  .container:has(.nav) {
    display: grid;
    grid-template-columns: auto 1fr min-content;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .logo {
    grid-area: 1 / 1 / 2 / 2;
  }
  .language-switcher {
    grid-area: 1 / 2 / 2 / 3;
    margin-right: 10px;
    margin-left: 10px;
    justify-self: end;
  }
  .nav {
    grid-area: 1 / 3 / 2 / 4;
    justify-self: end;
  }
}

.language-switcher {
  margin-left: auto;
  cursor: pointer;
}

#language-select {
  appearance: none; /* Removes the default dropdown styling */
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover; /* Adjust flag size */
  width: 30px; /* Space for the flag */
  height: 20px; /* Adjust as needed */
  border: none;
  border-radius: 5px;
  font-size: 0;
  padding: 5px;
  box-shadow: 0px 0px 2px rgb(0, 100, 164);
  cursor: pointer;
  .lang {
    font-size: 16px;
    background: none !important;
    font-family: "Ge Font";
  }
  &.cur-lang-ge {
    background-image: url("assets/flag-ka.svg"); /* Default flag */
  }
  &.cur-lang-en {
    background-image: url("assets/flag-uk.svg"); /* Default flag */
  }
}

/* Hero Section */
.hero {
  background: url("placeholder-hero.jpg") center/cover no-repeat;
  color: #fff;
  text-align: center;
  padding: 100px 20px;
  @media (max-width: 768px) {
    padding: 10px 20px;
  }
}

.hero h1 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #003580;
}

.cta-button {
  display: inline-block;
  padding: 10px 30px;
  background-color: #0056b3;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-family: "Ge Font";
  @media (max-width: 768px) {
    font-size: 0.8rem;
  }
}

.cta-button:hover {
  background-color: #003580;
  color: white;
}

/* Section Styles */
section {
  @media (max-width: 768px) {
    padding: 10px 0;
  }
}

section h1 {
  text-align: center;
  margin-bottom: 30px;
}

.service-item,
.logistics-services .service-item {
  margin-bottom: 20px;
}

.service-item h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Contact Form */
.contact-form {
  max-width: 600px;
  margin: 0 auto;
  background: #f7f7f7;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-form .form-group {
  margin-bottom: 15px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.contact-form textarea {
  resize: none;
}

.contact-form button {
  width: 100%;
}

/* Footer */
.footer {
  background-color: #0053c0;
  border-top: 1px solid #0053c0;
  padding: 10px 0;
  text-align: center;
  bottom: 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  font-family: "Ge Font";
  margin-top: 20px;
  a {
    color: white;
  }
  @media (max-width: 768px) {
    padding: 5px 0;
  }
}
.footer-nav {
  margin-bottom: 15px;
}

.footer-nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  @media (max-width: 768px) {
    font-size: 0.7rem;
  }
  @media (max-width: 500px) {
    font-size: 0.5rem;
  }
}

.language-switcher {
  margin-top: 7px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-list {
    flex-direction: column;
    gap: 10px;
  }

  .hero h1 {
    font-size: 1rem;
  }

  .hero p {
    font-size: 0.7rem;
  }
}

.parallax {
  div {
    display: block;
    position: relative;
  }
  svg {
    max-width: 100%;
  }
  a {
    position: fixed;
    top: 2em;
    left: 2em;
    z-index: 99999;
    text-decoration: none;
    color: #fff;
    padding: 0.5em;
    font-family: arial;
    border: 2px solid #fff;
  }
}

/* ship */

.ship0 {
  fill: #ffe2f2;
}
.ship1 {
  fill: #ffffff;
}
.ship2 {
  fill: #235ace;
}
.ship3 {
  fill: #9acbe2;
}
.ship4 {
  fill: #002c56;
}
.ship5 {
  fill: #6786a5;
}
.ship6 {
  fill: #ff6b00;
}
.ship7 {
  fill: #0022a4;
}
.ship8 {
  fill: #233569;
}
.ship9 {
  fill: none;
  stroke: #235ace;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.ship10 {
  fill: none;
  stroke: #9acbe2;
  stroke-miterlimit: 10;
}
.ship12 {
  fill: none;
  stroke: #b0ffff;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.ship14 {
  display: none;
}
.ship15 {
  display: inline;
  fill: none;
  stroke: #2393f5;
  stroke-miterlimit: 10;
}
.ship16 {
  display: inline;
  fill: #f6b7b8;
}

.ship {
  background-color: transparent;
  margin-top: -25%;
  @media (max-width: 450px) {
    margin-bottom: 39px;
  }
}

#smoke1 {
  fill: #f6bbb8;
  transform-origin: 180px 225px;
  animation: smoke1 12s linear infinite;
}

@keyframes smoke1 {
  0% {
    transform: translate(0, 10px) scale(0);
    opacity: 0;
    rx: 5;
    ry: 50%;
  }
  5% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
    rx: 5;
    ry: 50%;
  }
  25% {
    transform: translate(-20px, -20px) scale(3, 2.4);
    opacity: 1;
    rx: 4;
    ry: 50%;
  }
  45% {
    transform: translate(-40px, -40px) scale(2.4, 3.6);
    opacity: 1;
    rx: 7.5;
    ry: 50%;
  }
  65% {
    transform: translate(-60px, -60px) scale(6, 4);
    opacity: 1;
    rx: 3.33;
    ry: 50%;
  }
  85% {
    transform: translate(-80px, -80px) scale(4, 4.8);
    opacity: 0.8;
    rx: 6;
    ry: 50%;
  }
  100% {
    transform: translate(-90px, -90px) scale(5.6, 4.8);
    opacity: 0;
    rx: 4.29;
    ry: 50%;
  }
}

#smoke2 {
  fill: #f6bbb8;
  transform-origin: 180px 225px;
  animation: smoke2 12s linear infinite;
}

@keyframes smoke2 {
  0% {
    transform: translate(-75px, -75px) scale(4.5, 4.6);
    opacity: 0.75;
    rx: 5.11;
    ry: 50%;
  }
  19% {
    transform: translate(-90px, -90px) scale(5.6, 4.8);
    opacity: 0;
    rx: 4.29;
    ry: 50%;
  }
  20% {
    transform: translate(0, 10px) scale(0);
    opacity: 0;
    rx: 5;
    ry: 50%;
  }
  25% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
    rx: 5;
    ry: 50%;
  }
  45% {
    transform: translate(-20px, -20px) scale(3, 2.4);
    opacity: 1;
    rx: 4;
    ry: 50%;
  }
  65% {
    transform: translate(-40px, -40px) scale(2.4, 3.6);
    opacity: 1;
    rx: 7.5;
    ry: 50%;
  }
  85% {
    transform: translate(-60px, -60px) scale(6, 4);
    opacity: 1;
    rx: 3.33;
    ry: 50%;
  }
  100% {
    transform: translate(-75px, -75px) scale(4.5, 4.6);
    opacity: 0.75;
    rx: 5.11;
    ry: 50%;
  }
}

#smoke3 {
  fill: #f6bbb8;
  transform-origin: 180px 225px;
  animation: smoke3 12s linear infinite;
}

@keyframes smoke3 {
  0% {
    transform: translate(-55px, -55px) scale(5.1, 3.9);
    opacity: 1;
    rx: 3.82;
    ry: 50%;
  }
  20% {
    transform: translate(-75px, -75px) scale(4.5, 4.6);
    opacity: 0.75;
    rx: 5.11;
    ry: 50%;
  }
  39% {
    transform: translate(-90px, -90px) scale(5.6, 4.8);
    opacity: 0;
    rx: 4.29;
    ry: 50%;
  }
  40% {
    transform: translate(0, 10px) scale(0);
    opacity: 0;
    rx: 5;
    ry: 50%;
  }
  45% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
    rx: 5;
    ry: 50%;
  }
  65% {
    transform: translate(-20px, -20px) scale(3, 2.4);
    opacity: 1;
    rx: 4;
    ry: 50%;
  }
  85% {
    transform: translate(-40px, -40px) scale(2.4, 3.6);
    opacity: 1;
    rx: 7.5;
    ry: 50%;
  }
  100% {
    transform: translate(-55px, -55px) scale(5.1, 3.9);
    opacity: 1;
    rx: 3.82;
    ry: 50%;
  }
}

#smoke4 {
  fill: #f6bbb8;
  transform-origin: 180px 225px;
  animation: smoke4 12s linear infinite;
}

@keyframes smoke4 {
  0% {
    transform: translate(-35px, -35px) scale(2.55, 3.3);
    opacity: 1;
    rx: 6.47;
    ry: 50%;
  }
  20% {
    transform: translate(-55px, -55px) scale(5.1, 3.9);
    opacity: 1;
    rx: 3.82;
    ry: 50%;
  }
  40% {
    transform: translate(-75px, -75px) scale(4.5, 4.6);
    opacity: 0.75;
    rx: 5.11;
    ry: 50%;
  }
  59% {
    transform: translate(-90px, -90px) scale(5.6, 4.8);
    opacity: 0;
    rx: 4.29;
    ry: 50%;
  }
  60% {
    transform: translate(0, 10px) scale(0);
    opacity: 0;
    rx: 5;
    ry: 50%;
  }
  65% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
    rx: 5;
    ry: 50%;
  }
  85% {
    transform: translate(-20px, -20px) scale(3, 2.4);
    opacity: 1;
    rx: 4;
    ry: 50%;
  }
  100% {
    transform: translate(-35px, -35px) scale(2.55, 3.3);
    opacity: 1;
    rx: 6.47;
    ry: 50%;
  }
}

#ship {
  transform-origin: center center;
  animation: ship 4s ease infinite;
}
@keyframes ship {
  0% {
    transform: translate(0, 0) rotate(-1.5deg);
  }
  50% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(0, 0) rotate(-1.5deg);
  }
}

#wave1 {
  stroke: #5494ff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  fill: none;
  animation: wv1 4s linear infinite;
}

@keyframes wv1 {
  0% {
    stroke-dasharray: 30;
    stroke-dashoffset: 30;
  }
  50% {
    stroke-dasharray: 30;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 30;
    stroke-dashoffset: -30;
  }
}

#wave2 {
  stroke: #5494ff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  fill: none;
  animation: wv2 4s linear infinite;
}

@keyframes wv2 {
  0% {
    stroke-dasharray: 20;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 20;
    stroke-dashoffset: -20;
  }
  100% {
    stroke-dasharray: 20;
    stroke-dashoffset: -40;
  }
}

#wave3 {
  stroke: #5494ff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  fill: none;
  animation: wv3 4s linear infinite;
}

@keyframes wv3 {
  0% {
    stroke-dasharray: 20;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 20;
    stroke-dashoffset: -20;
  }
  100% {
    stroke-dasharray: 20;
    stroke-dashoffset: -40;
  }
}

#wave4 {
  stroke: #5494ff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  fill: none;
  animation: wv4 4s linear infinite;
}

@keyframes wv4 {
  0% {
    stroke-dasharray: 25;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 25;
    stroke-dashoffset: -25;
  }
  100% {
    stroke-dasharray: 25;
    stroke-dashoffset: -50;
  }
}

#wave5 {
  stroke: #5494ff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  fill: none;
  animation: wv5 4s linear infinite;
}

@keyframes wv5 {
  0% {
    stroke-dasharray: 35;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 35;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 35;
    stroke-dashoffset: -70;
  }
}

#wave6 {
  stroke: #5494ff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  fill: none;
  animation: wv6 4s linear infinite;
}

@keyframes wv6 {
  0% {
    stroke-dasharray: 45;
    stroke-dashoffset: 45;
  }

  50% {
    stroke-dasharray: 45;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: 45;
    stroke-dashoffset: -45;
  }
}

#spindript {
  transform-origin: center center;
  animation: spindript 4s ease infinite;
}

@keyframes spindript {
  0% {
    transform: translate(-3px, 0);
  }

  50% {
    transform: translate(5px, 2px);
  }

  100% {
    transform: translate(-3px, 0);
  }
}
.iframe-map-container {
  display: flex;
  width: 100%;
  margin-bottom: 109px;
  justify-content: center;
  .map-iframe {
    width: 90%;
    border-radius: 7px;
    border-top: solid #0053c08a 4px !important;
    border-bottom: solid #0053c08a 4px !important;
  }
  @media (max-width: 768px) {
    margin-bottom: 79px;
  }
}
.dark-mode-enabled {
  background-color: rgb(0, 1, 41);
  p,
  li,
  strong {
    color: white !important;
  }
}
/* General styling for the button */
.dark-mode-toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  @media (max-width: 768px) {
    height: 20px;
  }
}

/* Indicator inside the toggle */
.dark-mode-toggle {
  margin-bottom: 10px;
  @media (max-width: 768px) {
    display: block;
    margin: auto;
    margin-top: -7px;
    margin-bottom: 10px;
  }
}
.dark-mode-toggle .toggle-indicator {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  @media (max-width: 768px) {
    width: 10px;
    height: 10px;
  }
}

/* Active state for dark mode */
body.dark-mode-enabled .dark-mode-toggle {
  background-color: rgb(0, 1, 41);
}

body.dark-mode-enabled .dark-mode-toggle .toggle-indicator {
  transform: translateX(30px); /* Moves the indicator to the right */
  background-color: #f1c40f; /* Optional: change indicator color in dark mode */
  @media (max-width: 768px) {
    transform: translateX(40px);
  }
}
